name: rust

on:
  push:
    branches:
    - main

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: Actions/checkout@v3

    - uses: Swatinem/rust-cache@v2
      with:
        cache_on_failure: true

    - name: check
      run: cargo check

    - name: build
      run: cargo build

    - name: test
      run: cargo test

    - name: fmt
      run: cargo fmt --all -- --check

    - name: clippy
      run: cargo clippy --tests -- -D warnings
